* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #53575a, #204d50);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#addTaskBtn {
    background-color: #28a745;
    color: white;
    font-size: 24px;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
}

#taskForm {
    margin-top: 20px;
}

#taskForm input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    width: 200px;
}

#taskForm button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#taskList {
    margin-top: 20px;
    list-style-type: none;
}

.task-item {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item .deadline {
    color: #ffc107;
}

.task-item .remove-btn {
    background-color: #dc3545;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}
